<div class="d-flex full-screen-container-index">
  <!-- flats -->
  <div class="left-container">
    <h3>This will be search result</h3>
    <h1>Stays in search result city</h1>
    <h2>filter options</h2>
    <div class="index-flat-cards">
      <% @flats.each do |flat| %>
        <div class="index-flat-card">

        </div>
      <% end %>
    </div>
  </div>
  <!-- map -->
  <div class="right-container">

  </div>
</div>
