.index-flat-cards {
  padding: 24px;
}

.index-flat-card {
  padding: 16px;
}

.small-light-grey-text {
  font-size: 16px;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.flat-title-index {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

